@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

$fontFamily: 'Play', sans-serif;
$shadow: 0 0 0.5vw white;

@function if-important($important) {
    @return #{if($important, '!important', '')};
}

@mixin MenuImageScale($scale, $important: false) {
    transform: scale($scale) if-important($important);
}

@mixin FadeInProperties() {
    animation-name: FadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@mixin FadeIn() {
    @keyframes FadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

@mixin UnderLine($width) {
    border: none;
    width: $width;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 0.3vw;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    box-shadow: $shadow;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
}

@mixin TextProperties($fontSize) {
    display: block;
    color: white;
    font-size: $fontSize;
    font-family: $fontFamily;
    text-shadow: $shadow;
    position: relative;
    margin: 0%;
    text-decoration: none;
    cursor: pointer;
}

.container {
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(33, 33, 33));
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5% 2%;

    .menuIcon {
        color: rgb(255 255 255);
        transform: scale(2.5);
        filter: drop-shadow(0 0 0.1vw white);

        &:hover {
            color: rgb(220, 220, 220);
        }
    }

    .menu {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 0%;
        height: 100vh;
        background-color: rgba(0,0,0,0.9);
        z-index: 2;
        transition: 2s;
        overflow-x: hidden;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        .close_wrapper {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding: 2%;

            .close_button {
                opacity: 0%;
                display: none;
                cursor: pointer;
                border: none;
                background-color: transparent;
                @include FadeInProperties();

                .close_icon {
                    @extend .menuIcon;
                    filter: drop-shadow($shadow);
                }
            }
        }

        .content_wrapper {
            display: none;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            align-items: center;
            @include FadeInProperties();

            .option_wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .option_dropDown {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    visibility: hidden;

                    .dropDown_wrapper {
                        height: 0%;
                        overflow: hidden;
                        transition-property: height;
                        transition-duration: 1s;
                        transition-timing-function: ease-in-out;

                        .dropDown_option{
                            @include TextProperties(3vw);
                        }
                    }

                    &:hover {
                        visibility: visible;

                        .dropDown_wrapper{
                            height: 100%;
                        }
                    }
                }

                .menu_option {
                    @include TextProperties(4vw);

                    .option_underLine {
                        @include UnderLine(0%);
                    }

                    &:hover {
                        .option_underLine {
                            @include UnderLine(100%);
                        }
                    }

                    &:hover ~ .option_dropDown {
                        visibility: visible;
                    }

                    &:hover ~ .option_dropDown {
                        .dropDown_wrapper {
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}

@include FadeIn();

/* Large devices (laptops/desktops, 993px and up) */
@media only screen and (max-width: 1200px) and (min-width: 993px) {
    .menuIcon {
        @include MenuImageScale(2,true);
    }
}

/* Medium devices (landscape tablets, 769px and up) */
@media only screen and (max-width: 992px) and (min-width: 769px) {
    .menuIcon {
        @include MenuImageScale(2,true);
    }
}

/* Small devices (portrait tablets and large phones, 601px and up) */
@media only screen and (max-width: 768px) and (min-width: 601px) {
    .menuIcon {
        @include MenuImageScale(2,true);
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) and (min-width: 0px) {
    .container {
        min-height: 10vw;
    }
    .menuIcon {
        @include MenuImageScale(1.5,true);
    }

    .menu_option{
        font-size: 7vw !important;
    }
}